<%- include("partials/header") -%>

  <div class="details">

    <h1>
    <%= student.name %>
    </h1>
    <h3 class="text-muted">
      ID: <%= student.id%>
    </h3>
    <h3 class="text-muted">
      ADDRESS: <%= student.address %>
    </h3>
    <h3 class="text-muted">
      PHONE NUMBER: <%= student.phoneNumber %>
    </h3>
    <h3 class="text-muted">
      CLASS: <%= student.class %>
    </h3>

  </div>
  <div class="details table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Category</th>
          <th scope="col">Date</th>
          <th scope="col">status</th>
          <th scope="col">Obtained Marks</th>
          <th scope="col">Total Marks</th>
          <th scope="col">Grade</th>
          <th scope="col">%</th>
          <th scope="col">Delete</th>
        

        </tr>
      </thead>
      <tbody>
        <% student.subjects.forEach(function(subject){ %>
          <tr>
            <th scope="row">
              <%= subject.title %>
            </th>
            <td>
              <%= subject.category %>
            </td>
            <td>
              <%= subject.date %>
            </td>
            <td>
              <%= subject.status %>
            </td>
            <td>
              <%= subject.obtainedMarks %>
            </td>
            <td>
              <%= subject.totalMarks %>
            </td>
            <td>
               <%= subject.grade %>
            </td>
            <td>
              <%= subject.percantage %>
            </td>
            <td>
    
              <form action="/delete" method="post">
                <button name="subjectID" value="<%=subject._id%>" class="btn btn-dark btn-md delete" role="button"
                  id="print"><i class="fa-solid fa-delete-left"></i></button>
                <input type="hidden" name="studentID" value="<%=student._id%>">
              </form>
            </td>
            
          </tr>

          <% }) %>

      </tbody>
    </table>
  </div>

  <button id="print" onclick="window.print()" class="btn btn-lg btn-dark my-5">PRINT <i
      class="fa-solid fa-print fa-lg"></i></button>

  <%- include("partials/footer") -%>